<!DOCTYPE html>
<html>

<head>
    <title>FILE UPLOAD</title>
</head>

<body>
    <h1>Meta Data File Upload</h1>

    <form action="/upload"
      enctype="multipart/form-data" method="POST">

        <span>Upload .XML File:</span>
        <input type="file" name="mypic" required/> <br>
        <input type="submit" value="submit">
    </form>
</body>

</html>